@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap');
*{font-family: 'Noto Sans Thai', sans-serif;}
.remove-todo {
    font-size: 16px;
    position: absolute;
    top: 6px;
    right: 6px;
    
  }
.card {
    margin-bottom: 40px;
}
.head h1{
    margin-top: 40px;
}
.head{
    background: url(https://c1.wallpaperflare.com/preview/919/790/527/lockers-doors-handles-blue.jpg);
    color: #000000;
}
.slide{
    width: 650px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    overflow: hidden;
}
.slide figure img{
    width: 20%;
    height: 350px;
    float: left;
}
.slide figure {
    position: relative;
    width: 500%;
    margin: 0px;
    left: 0px;
    animation: image 20s infinite linear;

}

@keyframes image {
    0%{left: 0%;}
    10%{left: 0%;}
    20%{left: -100%;}
    30%{left: -100%;}
    40%{left: -200%;}
    50%{left: -200%;}
    60%{left: -300%;}
    70%{left: -300%;}
    80%{left: -400%;}
    100%{left: -400%;}
    
}
.blog-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.blog title{
    margin: 2rem 0;
}
.blog-item img{
    width: 100%;
}
à¸´.body{
    height:  100vh;
    display: flex;
    align-items: center;
    justify-content:  center;
    
}
.button{
    position: relative;
    padding:  10px 22px;
    background: rgb(2, 24, 37);
    border-radius:  6px;
    color: #fff;
    border: none;
    font-weight: 400;
    cursor: pointer;
    transition: transform 0.2s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.button:active{
    transform: scale(0.96);
}
